  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {   
    font-family: 'montserrat', sans-serif;
    background-image: url(./images/fishing.png) ;
    background-size: cover;
    background-position: top center;
  }
  .app-wrap { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  header {
    display: flex;
    justify-content: left;
    align-items: left;
    
    padding: 50px 15px 15px;
  }
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    /* background-color: rgba(255, 255, 255, 0.3); */
    border-radius: 0px 16px 0px 16px;
    border-bottom: 3px solid gray;
  
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }
  img{
  margin-top: 4em;
    border-radius: 2em;
     max-height: 90px;

  }
  .currentTempDisplay{
    display: flex;
    gap: 2em;
    /* padding: .3em; */
    /* margin-left:45em; */
    /* margin-top: -20em; */
  }
  .location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .location .date {
    color: #fff;
    font-size: 16px;
    /* margin-left: 1em; */
  }
  .location .lonLat{
    color: #fff;
    padding: .5em;
    font-size: 28pxx;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: -.5em;
  }
  .current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  .current .windSpeed{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 5px  rgb(0, 0, 0, .6);
  }
  .current .temp span {
    font-weight: 500;
  }

  .current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    margin-left: 1.5em;
    margin-left: -.1em;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }

  .current .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-left: .1em;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
  }
  .current .pressure{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: .5em;
    margin-left: -.5em;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
  }
  #inputTitle {
    color: #fff;
    /* margin-left: .2em; */
    padding: .5em;
  }
  #description{
    color: #fff;
    padding: .5em;
  }
  .sunrise{
    color: #fff;
    padding: .5em;
  }
  #advertisment{
      color: #fff;
      padding: .5em;
    
  }
  .toFishOrNot{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
    font-family:cursive;
    margin: 30px 0px;
    text-shadow: 2px 3px rgb(0, 0, 0, .6);
    margin-top: 1em;
  }
  .quotes{
    color: #fff;
    padding: 1em;
    font-style: italic;
    font-size: x-large;
  }
  #map{
    
     height: 380px; 
     width: 800px;
     /* border-style: solid; */
     border-width: 5px;
     padding: 5px;
     /* border-color: gray; */
     border-radius: 2em;

  }
  .fish{
    /* position: relative; */
    display: flex;
    /* justify-content: space-between; */
    /* width: 90%;  */
  }
  #Pike ,#large, #small, #steelhead {
    border-radius: 2em;
  }
 #Pike:active ,#large:active, #small:active, #steelhead:active {
    background: black;
  }
  .species{
    margin-left: 4em;
    text-shadow: 2px 1px black;
    color:#fff;
    font-size: 18px;
    font-style: italic;
    transition: width 2s, height 4s;
    
  }
  #fishExplination{
    color: #fff;
    margin: .75em;
  }
  .clearCity{
    height: 35px;
    width: 10%;
    border-radius: .5em;
    margin-left: .5em;
    
  }
